<!-- Page d'accueil -->
<h1>Bienvenue chez GAT Assurances</h1>
<p>Obtenez un devis instantané pour votre assurance automobile.</p>

<div class="mt-4 mb-5">
  <button type="button" class="btn btn-primary btn-lg" (click)="getQuoteClicked()">Obtenir un devis</button>
</div>

<div class="row">
  <h2>À propos de nous</h2>
  <p>
    Chez GAT Assurances, nous comprenons l'importance de trouver la bonne couverture d'assurance pour votre véhicule. Notre objectif est 
    de vous fournir un moyen simple et pratique d'obtenir des devis instantanés pour vos besoins en assurance.
  </p>
  <p>
    Que vous assuriez une voiture, une moto ou tout autre véhicule, notre calculateur prend en compte divers facteurs 
    tels que le prix du véhicule, l'âge, le kilométrage, ainsi que votre historique de conduite et d'assurance, pour vous fournir 
    des devis précis et compétitifs.
    <img src="assets/téléchargement.png" alt="Description de l'image" width="900" height="400">

    
  </p>
</div>